.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    flex-direction: column;
    max-width: 320px;
    height: 568px;
    width: 90%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        max-width: 568px;
        height: 320px;
        padding-top: 10px;
    }
}